
*{
	box-sizing: border-box;/*To ensure contents fits into the page perfectly*/
}

/*General styling of the html body */
body{
	margin: 0px;
	padding: 0;
	font-family: verdata sans-serif;
	overflow: auto;
}

/*Header Styling including the logo */
#header .container{
	background-color: #ff751a;
}

#header .container .section-head{
	padding: 15px;
}

#header .container .section-head span {	
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	padding: 20px;
	padding-bottom: 30px;
	border-radius:  0 0 10px 10px;
	background-color:#ff6600;	
}

/*Description Section Styling*/
#description .container{
	margin-top: 40px;
	margin-left: 10%;
}

#description .container .section1{
	display: inline-block;
	width: 35%;
	margin-right: 20%;
}

#description .container .section1 h3{
	color: #ff6600;
	font-size: 2.2em;
	font-weight: bold;
	text-align: center;
}

#description .container .section1 p{
	font-size: 1.4em;
	color: #ff751a;
	text-align: center;
}

#description .container .section1 img{
	margin: 30px 0;
	margin-left: 80px;
}

#description .container .section-img{
	display: inline-block;
	width: 30%;
}

#description .container .section-img img{
	width:210px;
	height: 448px;
}

/*Features Section Styling*/
#features .container{
	margin-top: 50px;
	background-color:  #f2f2f2;
	padding-left: 10%;
	padding-top: 20px;
}

#features .container h2{
	padding-bottom: 20px;
	color: #ff751a;
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
	font-style: italic;
}

#features .container .section-img{
	display: inline-block;
	width: 40%;
}

#features .container .section{
	display: inline-block;
	width: 30%;
	margin-left: 10%;
}

#features .container .section-img img{
	width:222px;
	height: 421px;
}

#features .container .section .section-info{
	padding: 10px;
	background-color:#ff6600;
	border: 2px solid black;
	border-radius: 10px;
	margin-bottom: 10px;
}

#features .container .section .section-info h3{
	color: #fff;
	text-align: center;
	font-weight: bold;
}

#features .container .section .section-info p{
	color: #fff;
	text-align: center;
}

/*Testimonies Section Styling*/
#testimonies .container{
	margin-top: 40px;
	margin-left: 10%;
}

#testimonies .container .section{
	display: inline-block;
	width: 40%;
	margin-right: 20%;
}

#testimonies .container .section-img{
	display: inline-block;
	width: 30%;	
}

#testimonies .container .section .section-info{
	display:inline-block;
	padding: 10px;
	background-color:#ff6600;
	border: 2px solid black;
	border-radius: 10px;
	margin-bottom: 20px;
	width: 200px;
	margin-left: 20px;
}

#testimonies .container .section-img img{
	width: 212px;
	height: 422px;
}

#testimonies .container .section .section-info h3{
	color: #fff;
	text-align: center;
	font-weight: bold;
}

#testimonies .container .section .section-info p{
	color: #fff;
	text-align: center;
}

/*Reviews Styling*/
#reviews .container{
	margin-top: 40px;
	padding-left: 10%;
	background-color: #f2f2f2;
	padding-bottom: 50px;
}
#reviews .container .section1 h2{
	padding: 10px 0;
	color: #ff751a;
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
	font-style: italic;
}

#reviews .container .section1 .section-info{
	background-color: #ff6600;
	display: inline-block;
	width: 300px;
	margin-right: 20px;
	border-radius: 0 10px 0 10px;
}

#reviews .container .section1 .section-info .section-img {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	position: relative;
	top:-20px;
}

#reviews .container .section1 .section-info .section-img img{
	width: 100%;
	height:100%;
	border-radius: 50%;
}

#reviews .container .section1 .section-info .section-title h3{
	color: #fff;
	text-align: center;
	font-weight: bold;
}

#reviews .container .section1 .section-info .section-title p{
	color: #fff;
	text-align: center;
	font-size: 0.9em;
}

/*Footer Styling*/
footer .container{
	background-color: #ff6600;
	padding-left: 70px;
}

footer .container .section-left{
	display: inline-block;	
	padding-right: 15%;
	margin-bottom: 20px;
}

footer .container .section-left h3{
	color: #fff;
}

footer .container .section-left p{
	color: #fff;
}

footer .container .section-center{
	display: inline-block;
	padding-right: 15%;
	position: relative;
	top: -10px;
	margin-bottom: 20px;	
}

footer .container .section-center p a{
	color: #f2f2f2;
	text-decoration: none;
}

footer .container .section-center p a:hover{
	color: #a6a6a6;
}

footer .container .section-right{
	display: inline-block;
	position: relative;
	top: -15px;
	margin-bottom: 20px;
}

footer .container .section-right input{
	border-radius: 10px;
	outline: 0;
	padding:10px;
	margin-right: 5px;
}

footer .container .section-right button{
	outline: 0;
	border-radius: 15px;
	padding: 10px;
	border: 2px solid #fff;
	background-color:#ff6600;
	color: #fff;
}

footer .container .section-right p{
	color: #fff;
}

/*Responsive Webpage for Mobile*/
@media only screen and (max-width: 900px){
	#description .container{
		margin-left: 0;
	}
	
	#description .container .section1{
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}
	
	#description .container .section-img{
		display: block;
		margin: 0 auto;
		width: 100px;
	}
	
	#features .container .section-img{
		display: block;
		padding-bottom: 20px;
		margin: 0 auto;
	}
	
	#features .container .section{
		display: block;
		width: 80%;
		margin: 10px;
		padding-bottom: 20px;
	}
	
	#testimonies .container{
		margin-left: 0;
	}
	
	#testimonies .container .section{
		display: block;
		margin: 0 auto;	
		padding-bottom: 20px;
	}
	
	#testimonies .container .section-img{
		display: block; 
		margin: 0 auto;
	}
	
	#reviews .container{
		margin-left: 0;
	}
	
	#reviews .container .section1 h2{
		text-align: center;
	}
	
	#reviews .container .section1 .section-info{
		display: block;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	
	footer .container .section-left{
		display: block;
		
	}
	
	footer .container .section-center{
		display: block;
	}
	
	footer .container .section-right{
		display: block;
	}
}

/*Responsive Page for Tablets*/
@media only screen and (max-width: 1250px){
	
	#reviews .container .section1 .section-info{
		width: 250px;
	}
}
